app/src/main/assets/keenB2mQT-nnet3chain-en-us/decode.conf text=lf
app/src/main/assets/keenB2mQT-nnet3chain-en-us/global_cmvn.stats text=lf
app/src/main/assets/keenB2mQT-nnet3chain-en-us/ivector_extractor.conf text=lf
app/src/main/assets/keenB2mQT-nnet3chain-en-us/mfcc.conf text=lf
app/src/main/assets/keenB2mQT-nnet3chain-en-us/online_cmvn.conf text=lf
app/src/main/assets/keenB2mQT-nnet3chain-en-us/splice.conf text=lf
app/src/main/assets/keenB2mQT-nnet3chain-en-us/splice_opts text=lf
app/src/main/assets/keenB2mQT-nnet3chain-en-us/wordBoundaries.int text=lf
app/src/main/assets/keenB2mQT-nnet3chain-en-us/words.txt text=lf
app/src/main/assets/keenB2mQT-nnet3chain-en-us/lang/lexicon.txt text=lf
app/src/main/assets/keenB2mQT-nnet3chain-en-us/lang/phones.txt text=lf
